<div class="ui grid">

    <div class="row">
        <div class="blue sixteen wide column" style="margin-bottom: 10px;box-shadow: 2px 0px 4px 0px grey;">
            <br>

            <div class="ui center aligned white header">
                <img class="ui massive image" src="./assets/logo-watson.png">
                <h1 class="content">
                    {{title}}
                </h1>
            </div>

            <br>
        </div>

    </div>

    <div class="row" style="min-height: 500px;">

        <div class="ui stackable grid container">
            <div class="four wide column">

                <sm-dropdown title="Farbe" class="fluid search selection">
                    <a sm-item *ngFor="let color of getColors()" data-value="color" (click)="selected_color = color;">{{color}}</a>
                </sm-dropdown>


            </div>
            <div class="four wide column">


                <sm-dropdown title="Kategorie" class="fluid search selection">
                    <a sm-item *ngFor="let cat of categories" data-value="cat" (click)="selected_cat = cat;">{{cat}}</a>
                </sm-dropdown>

            </div>
            <div class="four wide column">

                <sm-dropdown title="Geschlecht" class="fluid search selection">
                    <a sm-item *ngFor="let gen of genders" data-value="gen" (click)="selected_gen = gen;">{{gen}}</a>
                </sm-dropdown>

            </div>
            <div class="four wide column">
                <button href="#" (click)="search()" class="ui left floated fluid blue button">
              Suchen
            </button>
            </div>
        </div>

        <div class="ui grid container">
            <div class="row" *ngIf="bikes" style="padding: 0px;margin-left: 15px;margin-top: -10px;">
                <p class="ui text-muted" *ngIf="bikes.length > 0">{{bikes.length}} Fahrräder gefunden</p>
            </div>
            <div class="row" *ngIf="bikes">

                <div class="four wide computer eight wide tablet sixteen wide mobile column" *ngFor="let bk of bikes">

                    <div class="ui card">
                        <img class="ui image" src="./assets/images/{{getPictureFromName(bk.bike.fileName)}}">
                        <div class="content">
                            <div class="ui center aligned">
                                {{( getAverageMatch(bk.classifiers[0].matches) *100).toFixed(2)}}%
                            </div>
                        </div>
                        <!--div class="content">
                            <button class="ui fluid positive button" (click)="myModalNormal.show({inverted: true})"><i class="smile icon"></i>Das ist es!</button>

                            <a class="ui fluid icon button" href="https://www.ebay-kleinanzeigen.de/s-fahrrad-gestohlen/k0"><i class="shopping basket icon"></i> Jetzt kaufen!</a>

                        </div-->
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!--div class="row" style="height: 300px;">
        <div class="ui doubling grid container">
            <div class="ui sixteen wide column">
                <h3 class="ui header">Deine Auswahl</h3>
                <p *ngIf="selection.length == 0">Es wurden keine Paramter ausgewählt!</p>
                <br>
                <div *ngFor="let item of selection" style="display: inline;margin-right: 5px;">
                    <div class="ui blue massive label" (click)="remove(item.value);">
                        {{item.value}}
                        <i class="delete icon" (click)="remove(item.value);"></i>
                    </div>

                </div>
            </div>
        </div>
    </div-->

    <div class="ui blue divider "></div>

    <div class="row">
        <div class="ui grid container ">
            <div class="column ">

                <img class="ui small image " src="./assets/footer.png ">
                <p class="ui">Francisco, Robin, Niels, Slobodanka, Alex & Matthias</p>
            </div>
        </div>
    </div>

</div>

<sm-modal title="Für eine gute Weiterfahrt..." class="" #myModalNormal>
    <modal-content class="ui centered">

        <h3 class="ui header">Mehr Sicherheit durch Innovative Schlösser!</h3>
        <a href="https://www.youtube.com/watch?v=pTPFrww6zdA"><img src="http://www.radwz.de/adfc/news/f_schloss1.jpg" class="ui large image"></a>

    </modal-content>
    <modal-actions>
        <div class="ui two buttons">
            <button class="ui negative button" (click)="myModalNormal.hide()"> Nein, danke!</button>
            <br>
            <button class="ui positive button" (click)="myModalNormal.hide()"> Jetzt kaufen</button>
        </div>
    </modal-actions>
</sm-modal>

<div class="ui full-screen " *ngIf="searching ">
    <div class="ui active inverted blurring dimmer center middle aligned ">
        <div class="ui header " style="margin-top: 300px; ">
            <img class="ui massive image " src="./assets/watson.gif ">
            <h3 class="content ">Such nach ähnlichen Fahrrädern...</h3>
        </div>
    </div>
</div>