<div class="ui grid">

    <div class="row">
        <div class="blue sixteen wide column" style="margin-bottom: 10px;box-shadow: 2px 0px 4px 0px grey;">
            <br>

            <div class="ui center aligned white header">
                <img class="ui massive image" src="./assets/logo-watson.png">
                <h1 class="content">
                    {{title}}
                </h1>
            </div>

            <br>
        </div>

    </div>

    <div class="row" style="min-height: 500px;">

        <div class="ui stackable grid container">
            <div class="four wide column">

                <sm-dropdown title="Farbe" class="fluid search selection">
                    <a sm-item *ngFor="let color of getColors()" data-value="color" (click)="selected_color = color;">{{color}}</a>
                </sm-dropdown>


            </div>
            <div class="four wide column">


                <sm-dropdown title="Kategorie" class="fluid search selection">
                    <a sm-item *ngFor="let cat of categories" data-value="cat" (click)="selected_cat = cat;">{{cat}}</a>
                </sm-dropdown>

            </div>
            <div class="four wide column">

                <sm-dropdown title="Geschlecht" class="fluid search selection">
                    <a sm-item *ngFor="let gen of genders" data-value="gen" (click)="selected_gen = gen;">{{gen}}</a>
                </sm-dropdown>

            </div>
            <div class="four wide column">
                <button href="#" (click)="search()" class="ui left floated fluid blue button">
              Suchen
            </button>
            </div>
        </div>



        <div class="ui grid container">
            <div class="row" *ngIf="bikes" style="padding: 0px;margin-left: 15px;margin-top: -10px;">
                <p class="ui text-muted" *ngIf="bikes.length > 0">{{bikes.length}} Fahrräder gefunden</p>
            </div>
            <div class="row" *ngIf="bikes">

                <div class="four wide computer eight wide tablet sixteen wide mobile column" *ngFor="let bk of bikes">

                    <div class="ui card">
                        <img class="ui image clickable" (click)="selectAndShow(bk);myModalNormal.show();" src="./assets/images/{{getPictureFromName(bk.filename)}}">
                        <div class="content">
                            <div class="ui left aligned">

                               {{ bk.classes[0].classname  }} : {{( (bk.classes[0].score) *100).toFixed(2)}}% <br>
                                {{ bk.classes[1].classname  }} : {{( (bk.classes[1].score) *100).toFixed(2)}}% <br>
                                 {{ bk.classes[2].classname  }} : {{( (bk.classes[2].score) *100).toFixed(2)}}% <br>
                               
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!--div class="row" style="height: 300px;">
        <div class="ui doubling grid container">
            <div class="ui sixteen wide column">
                <h3 class="ui header">Deine Auswahl</h3>
                <p *ngIf="selection.length == 0">Es wurden keine Paramter ausgewählt!</p>
                <br>
                <div *ngFor="let item of selection" style="display: inline;margin-right: 5px;">
                    <div class="ui blue massive label" (click)="remove(item.value);">
                        {{item.value}}
                        <i class="delete icon" (click)="remove(item.value);"></i>
                    </div>

                </div>
            </div>
        </div>
    </div-->

    <div class="ui blue divider "></div>

    <div class="row">

        <div class="ui grid container">
            <div class="eight wide column">
                <a href="https://www.ibm.com/watson/developercloud/services-catalog.html"> <img class="ui small image" src="./assets/footer.png "></a>
                <p class="ui">Francisco, Robin, Niels, Slobodanka, Alex & Matthias</p>
            </div>

            <div class="eight wide column">
                <a href="https://www.meetup.com/Blue-Hackers-Club/"><img class="ui tiny right floated image" src="./assets/--BHC logo.png "></a>
            </div>
        </div>

    </div>

</div>

<sm-modal title="Ansicht für Fahrrad: {{cur_bike.replace('.jpg','')}}" class="small center aligned modal" #myModalNormal>
    <modal-content class="ui center aligned">
        <a href="#"><img *ngIf="cur_bike" src="./assets/images/{{cur_bike}}" class="ui massive image"></a>

    </modal-content>
    <modal-content class="ui center aligned">
        <br><br>
        <b>Kontakt zur Polizei</b>
        <p>Telefon: 040 4286-56789<br> E-Mail: lka13arfahrrad@polizei.hamburg.de</p>
        <a class="ui blue button" target="_blank" href="mailto:lka13arfahrrad@polizei.hamburg.de?subject=Mir%20gehört%20das%20Fahrrad:%20{{getPictureFromName(cur_bike).replace('.jpg','')}}">Per E-Mail melden</a>
    </modal-content>
</sm-modal>

<div class="ui full-screen " *ngIf="searching ">
    <div class="ui active inverted blurring dimmer center middle aligned ">
        <div class="ui header " style="margin-top: 300px; ">
            <img class="ui massive image " src="./assets/watson.gif ">
            <h3 class="content ">Such nach ähnlichen Fahrrädern...</h3>
        </div>
    </div>
</div>