/* You can add global styles to this file, and also import other style files */

.ui.white.header {
    color: white;
}

.ui.blue.divider {
    background: rgb(33, 133, 208);
}

.ui.full-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
}

.ui.card {
    margin-bottom: 20px !important;
}

p.ui.text-muted {
    font-size: .8rem;
    font-style: italic;
    color: 'lightgrey';
}